/* =========================== Font =========================== */

@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

/* =========================== General =========================== */

.button {
    background-color: #FFFFFF;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 3%;
    right: 3%;
}

.button:hover {
    background: #000000;
    color: #FFFFFF;
}

#logoutButton, #orderButton {
    right: 9%;
}

.basketManagementButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus, .plus {
    font-family: "Poppins-Regular", serif;
    font-size: 15px;
    width: 40px;
    height: 40px;
    background: white;
    border: none;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.quantity {
    font-size: 15px;
    font-family: "Poppins-Regular", serif;
    margin-right: 10px;
    margin-left: 10px;
}

.minus:hover, .plus:hover {
    background: #000000;
    color: #FFFFFF;
}

/* =========================== Tool bar ============================== */

.toolbar {
    background: #F5F5F5;
    position: absolute;
    top: 0;
    width: 99.5%;
    height: 150px;
    z-index: 1;
    display: flex;
    align-items: center;
}

.avatar {
    position: absolute;
    display: flex;
    align-items: center;
    top: 25%;
    right: 1%;
    width: 60px;
    height: 60px;
}

.basket {
    position: absolute;
    display: flex;
    align-items: center;
    top: 5%;
    right: 3%;
    transform: scale(0.4);
}

.searchBar {
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.searchBar input[type="text"] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    font-family: "Poppins-Regular", serif;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.searchBar input[type="submit"] {
    width: 100px;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-family: "Poppins-Regular", serif;
    background: #FFFFFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sortOptions {
    display: flex;
    align-items: center;
}

.sortOptions input[type="submit"] {
    width: 150px;
    padding: 14px 20px;
    margin: 8px 5px;
    border: none;
    cursor: pointer;
    font-family: "Poppins-Regular", serif;
    background: #FFFFFF;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sortOptions input[type="submit"]:hover, .searchBar input[type="submit"]:hover {
    background: #000000;
    color: #FFFFFF;
}

#addGameButton {
    position: absolute;
    z-index: 1000;
    top: 4%;
    right: 12%;
    width: 150px;
    height: 48px;
}

#accountingButton {
    position: absolute;
    z-index: 1000;
    top: 4%;
    right: 20.5%;
    width: 150px;
    height: 48px;
}

/* =========================== Cover Images =========================== */

.sortOption:first-child {
    margin-top: 100px;
}

.sortOption:nth-child(1) {
    padding-top: 150px;
}

.sortOption {
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
    font-family: "Poppins-Regular", serif;
}

.gameImages {
    width: 270px;
    height: 360px;
    padding: 20px;
    transition: transform 0.5s;
}

.available:hover {
    transform: scale(1.2);
}

.divGameImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grayscale {
    filter: grayscale(100%);
}

/* =========================== Product Informations =========================== */

.informationImage {
    position: absolute;
    top: 50%;
    left: 89%;
    transform: translate(-50%, -50%);
}

.productInformations {
    margin: 0 auto;
    width: 1000px;
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.productInformations h1 {
    text-align: center;
    padding-bottom: 50px;
}

.productInformations h1, p {
    font-family: "Poppins-Regular", serif;
}

.productInformations .specifications {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.specifications p {
    width: 300px;
    padding: 10px;
    text-align: center;
    background: #F5F5F5;
}

#basketManagement {
    position: absolute;
    bottom: 3.5%;
    right: 10%;
}

/* =========================== Basket Management =========================== */

.basketManagement {
    position: relative;
    margin: 100px auto;
    width: 600px;
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.basketManagement .basketManagementButtons {
    padding-bottom: 60px;
}

.basketInformations h1 {
    font-family: "Poppins-Regular", serif;
    padding-bottom: 60px;
}

.basketInformations p:last-child {
    padding-bottom: 60px;
}

.basketCover {
    width: 120px;
    height: 160px;
    padding-bottom: 20px;
}

.basketGames {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-right: 40px;
}

.basketGame {
    padding-left: 40px;
}

/* =========================== Admin =========================== */

.adminGameCover {
    width: 120px;
    height: 160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.adminGame {
    padding-bottom: 40px;
    padding-right: 40px;
}

.stockQuantity {
    font-size: 20px;
    padding-left: 15px;
    margin-right: 15px;
    text-align: center;
}

.accountingSelector input[type="submit"] {
    margin-bottom: 50px;
}

/* =========================== Login / Register / Profile =========================== */

.form {
    position: relative;
    margin: 200px auto;
    width: 400px;
    background: #FFFFFF;
    padding: 30px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: "Poppins-Regular", sans-serif;
}

.form select {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: "Poppins-Regular", sans-serif;
}

.form h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    font-size: 30px;
    font-family: "Poppins-Regular", sans-serif;
}

.form input[type="submit"]:hover {
    background: #000000;
    color: #FFFFFF;
}

.form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: "Poppins-Regular", sans-serif;
}

label {
    font-family: "Poppins-Regular", sans-serif;
}

.loginRegisterButton {
    width: 100px;
    height: 40px;
    font-family: "Poppins-Regular", sans-serif;
    color: #000000;
}

.submit:hover {
    background: #000000;
    color: #FFFFFF;
}

#profileSelect {
    margin-top: -10px;
}

#addGameForm {
    margin-top: 100px;
}

.mail1 {
    position: absolute;
    width: 680px;
    top: 50%;
    left: 1%;
    transform: translate(0, -50%);
}

.mail2 {
    position: absolute;
    width: 680px;
    top: 50%;
    right: 1%;
    transform: translate(0, -50%);
}
